<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Hosts a GeckoView for tests that need a visible session. -->
        <activity
            android:name="io.github.chabiroael.twinbook.engine.TestHostActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
